<div class="row col s10 offset-s1">
  <div class="input-field">
    <i class="material-icons prefix">search</i>
    <input type="text" placeholder="Search" ng-model="search">
  </div>

  <table class="striped responsive-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="User in Users | filter : search | orderBy : '-id'">
        <td>{{ User.name }}</td>
        <td>{{ User.email }}</td>
        <td>{{ User.type }}</td>
        <td>
          <a href="#/members/edit/{{ User.id }}"><i class="material-icons">edit</i></a>
          <a href="#" ng-click="removeUser(User.id)"><i class="material-icons">delete</i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <br>

  <div class="btn-floating right btn-large waves-effect waves-light red horizontal">
    <a href="#/members/new" class="btn-floating btn-large waves-effect waves-light red">
      <i class="large material-icons">add</i>
    </a>
  </div>
</div>
