<div class="parallax-container">
  <div class="parallax"><img src="images/parallax2.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Laravel - Angular</h2>
    <p class="grey-text text-darken-3 lighten-3">Combining Laraval as the backend and Angular as the frontend, for building this web application.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="images/parallax1.jpg"></div>
</div>

<!-- Parallax -->
<script type="text/javascript">
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>
